/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";
@import "~bootstrap/dist/css/bootstrap.css";

.btn__common {
  background-color: #F26B38;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
}

body {
  min-width: 320px;
}

