<div class="container py-2">

  <app-header-admin></app-header-admin>
  <!--    Sidebar      -->
  <div class="row">
    <div class="col-lg-3">
      <app-slidebar></app-slidebar>
    </div>
    <!--    main-->
    <div class="col-lg-9">
      <div class="col">
        <div class="card">
          <div class="bg-light card card-header p-3 mb-4 display" style="float: left">
            <div class="row">
              <div class="col 7 text">
                Quản lý danh sách phim
              </div>

              <div class="col-3">

              </div>

              <div class="col-3">
                <button class="bg-sub btn"><i class="fa-solid fa-film"></i> Thêm phim</button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <input type="search" class="form-control displaySearch rounded" placeholder="Tên phim cần tìm" #name
                           id="nameSearch"
                           (change)="name_search = name.value.trim()" aria-label="Search"
                           aria-describedby="search-addon"/>
                    <input type="search" class="form-control displaySearch rounded" placeholder="nhà sản xuất" #studios
                           id="studioSearch"
                           (change)="studios_search = studios.value.trim()" aria-label="Search"
                           aria-describedby="search-addon"/>
                    <select #startDay (change)="startDay_search = startDay.value" id="dateSearch">
                      <option value="">Ngày Chiếu Phim</option>
                      <option value="7">Phim săp chiếu trong tuần này</option>
                      <option value="14">Phim sắp chiếu trong 2 tuần</option>
                      <option value="21">Phim sắp chiếu trong 3 tuần</option>
                      <option value="30">Phim sắp chiếu trong 1 tháng</option>
                    </select>
                    <select #time (change)="timeAmount_search = time.value" id="timeSearch">
                      <option value="">Thời Lượng Phim</option>
                      <option value="60">
                        Thời Lượng dưới 60p
                      </option>
                      <option value="90">
                        Thời Lương 60-120p
                      </option>
                      <option value="120">
                        Thời Lượng trên 120p
                      </option>
                    </select>

                    <button class="btn" (click)="searchWithCondition()">
                      <i class="fas fa-search bg-icon"></i>
                    </button>
                    <button class="btn" (click)="refreshPage()">
                      <i class="fas fa-undo bg-icon"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table text-left">
                  <thead style="background-color: #F26B38; color: #fff;">
                  <tr>
                    <th>#</th>
                    <th class="center_number">Phim</th>
                    <th>Hãng phim</th>
                    <th>Ngày chiếu</th>
                    <th>Thời Lượng(m)</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tbody>
                  <tr *ngFor="let list of list;index as i">
                    <td>{{i + 1}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.movieStudio| slice : 0 :27}}</td>
                    <td>{{list.startDay | date:'dd/MM/yyyy'}}</td>
                    <td>{{list.timeAmount}}</td>
                    <td>
                      <button type="button" class="btn">
                        <i class="bi bi-pencil-square bg-icon"></i>
                      </button>
                      <button type="button" class="btn">
                        <i data-bs-toggle="modal" data-bs-target="#detailsModal" (click)="findById(list.id)"
                           class=" bi bi-info-circle bg-icon"></i>
                      </button>
                      <button type="button" class="btn" data-bs-toggle="modal"
                              data-bs-target="#deleteModal" (click)="findById(list.id)">
                        <i class="bi bi-trash3 bg-icon"></i>
                      </button>
                    </td>

                  </tr>
                  </tbody>
                </table>
                <div>
                  <ul class="pagination justify-content-center mb-3">
                    <li class="page-item">
                      <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''">
                        <i class="fa-solid fa-backward-fast"
                           (click)="findAllWithCondition(name_search,startDay_search,timeAmount_search,studios_search,0)"></i>
                      </a>

                    </li>
                    <li>
                      <a class="page-link" *ngIf="pageNumber != 0 ? 'disable': ''">
                        <i class="fa-solid fa-backward"
                           (click)="findAllWithCondition(name_search,startDay_search,timeAmount_search,studios_search,pageNumber - 1)"></i>
                      </a>
                    </li>


                    <ng-container
                      *ngIf="0 === pageNumber  ">
                      <li class="page-item" *ngFor="let item of [].constructor(countPage); let i = index">
                        <a class="page-link" [ngClass]="pageNumber == i ? 'current': ''"
                           (click)="findAllWithCondition(name_search,startDay_search,timeAmount_search,studios_search,i)">
                          {{i + 1}}
                        </a>
                      </li>
                    </ng-container>
                    <ng-container
                      *ngIf="(totalPages - 1) === pageNumber && pageNumber !== 0">
                      <li class="page-item" *ngFor="let item of [].constructor(countPage); let i = index">
                        <a class="page-link" [ngClass]="pageNumber == i ? 'current': ''"
                           (click)="findAllWithCondition(name_search,startDay_search,timeAmount_search,studios_search,totalPages - countPage + i)">
                          {{totalPages - countPage + i + 1}}
                        </a>
                      </li>
                    </ng-container>
                    <ng-container
                      *ngIf="(totalPages - 1) > pageNumber && 0 < pageNumber">
                      <li class="page-item" *ngIf="pageNumber != 1">
                        <a class="page-link">...</a>
                      </li>
                      <li class="page-item" *ngFor="let item of [].constructor(countPage); let i = index">
                        <a class="page-link" [ngClass]="i == 1 ? 'current': ''"
                           (click)="findAllWithCondition(name_search,startDay_search,timeAmount_search,studios_search,pageNumber - 1 + i)">
                          {{pageNumber - 1 + (i + 1) }}
                        </a>
                      </li>
                      <li class="page-item"  *ngIf="pageNumber != totalPages -2">
                        <a class="page-link">...</a>
                      </li>
                    </ng-container>


                    <li>
                      <a class="page-link" *ngIf="pageNumber < totalPages - 1 ? 'disable': ''">
                        <i class="fa-solid fa-forward"
                           (click)="findAllWithCondition(name_search,startDay_search,timeAmount_search,studios_search,pageNumber + 1)"></i>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" *ngIf="pageNumber < totalPages - 1 ? 'disable': ''"
                         (click)="findAllWithCondition(name_search,startDay_search,timeAmount_search,studios_search,totalPages - 1)">
                        <i class="fa-solid fa-forward-fast"></i> </a>
                    </li>
                    <li class="page-item">
                      <span class="page-link">{{pageNumber + 1}} / {{totalPages}}</span>
                    </li>
                    <li class="page-item">
                      <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="chọn trong {{totalPages}} trang"
                               #element
                               id="pageChoice"
                               aria-label="Search" aria-describedby="search-addon"/>
                        <span class="input-group-text border-0" id="search-addon">
                          <button class="btn">
                             <i class="bi bi-search bg-icon" (click)="getPageInChoice(+element.value - 1)"></i>
                          </button>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <ng-template #isEmpty class="clearfix">
                  <div style="font-size: 18px; margin-left: 73px" class="hint-text">Không tìm thấy vé phù hợp với từ
                    khoá<b>"" </b></div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoa Phimsq</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa <span id="name_delete"></span>
        <input hidden id="id_delete" #id_delete>
      </div>
      <div class="modal-footer">
        <p style="color: red">*Lưu ý: Hành động này không thể hoàn tác, bạn có chắc chắn muốn xóa?</p>
        <button type="button" class="btn bg-sub" data-bs-dismiss="modal" #deleteClose>Đóng</button>
        <button type="button" class="btn bg-close" (click)="deleteThis(id_delete.value)">Xóa</button>
      </div>
    </div>
  </div>
</div>


<!--detail modal-->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông tin chi tiết Phim</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="height: 350px">
        <table border='0' width='100%'>
          <tbody>
          <tr>
            <td><img id="detailIMG" [src]="movieDetail.image"></td>
            <td style="padding:20px;">
              <p>Tên Phim : {{movieDetail.name}}</p>
              <p>Nhà Sản Xuất: {{movieDetail.movieStudio}}</p>
              <p>Thời Lượng: {{movieDetail.timeAmount }}</p>
              <p>Ngày Chiếu: {{movieDetail.startDay| date:'dd/MM/yyyy'}}</p>
              <p>Diễn Viên: {{movieDetail.movieActor}}</p>
              <p>Thể Loại: {{movieDetail.movieType}}</p>
              <p>Giới Thiệu: {{movieDetail.movieDirector}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
