<div class="background">
  <div class="container">
      <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-isLoggedIncenter" style="color: #f26b38; padding: inherit"> ĐĂNG NHẬP</h5>
            <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="form-label-group">
                <input autofocus formControlName="username" type="text" id="inputUsername" class="form-control"
                       placeholder="Tên tài khoản">

                <label class="form-label" for="inputUsername">
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.username.touched) && formGroup.controls.username.hasError('required') ">Tên đăng nhập không được để trống!</span>
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.username.touched) && formGroup.controls.username.hasError('minlength') ">Tên đăng nhập phải có ít nhất 4 ký tự! </span>
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.username.touched) && formGroup.controls.username.hasError('maxlength') ">Tên đăng nhập không được nhiều hơn 55 ký tự! </span>
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.username.touched) && formGroup.controls.username.hasError('pattern') ">Tên đăng nhập không thể chứa ký tự đặc biệt! </span>
                </label>
              </div>

              <div class="form-label-group">
                <!--<label for="inputPassword">Mật khẩu:</label>-->
                <input formControlName="password" type="password" id="inputPassword" class="form-control"
                       placeholder="Mật khẩu">

                <label class="form-label" for="inputPassword">
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.password.touched) && formGroup.controls.password.hasError('required') ">Mật khẩu không được để trống!</span>
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.password.touched) && formGroup.controls.password.hasError('minlength') ">Mật khẩu phải có ít nhất 8 ký tự! </span>
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.password.touched) && formGroup.controls.password.hasError('maxlength') ">Mật khẩu không được nhiều hơn 55 ký tự! </span>
                  <span style="color:red;"
                        *ngIf="(formGroup.controls.password.touched) && formGroup.controls.password.hasError('pattern') ">Mật khẩu không được chứa ký tự đặc biệt và cần có ít nhất 1 chữ cái viết hoa, một chữ cái viết thường và 1 chữ số! </span>
                </label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="remember_me">
                <label class="custom-control-label" for="customCheck1">&ensp;Ghi nhớ đăng nhập lần sau</label>
              </div>

              <button class="btn btn-lg text-uppercase btn-success" type="submit">Đăng nhập</button>

              <button class="btn btn-outline-danger text-uppercase" type="button" (click)="signInWithGoogle()">
                Đăng nhập với google
                <img class="social-btn-icon" alt="Login with Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
              </button>

              <button class="btn btn-lg btn-secondary text-uppercase" style="margin-top: 20px" routerLink="" data-dismiss="modal" type="button">
                Huỷ
              </button>

              <div style="margin-top: 20px">
                <p><a href="" routerLink="/reset-password" data-dismiss="modal">Quên mật khẩu ?</a></p>
                <span>Bạn chưa có tài khoản? Đăng ký <a  routerLink="/register">tại đây</a></span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
