<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Danh sách nhân viên</title>
</head>
<body class="body">

<div class="container py-2">
  <div class="row align-items-center">
    <div class="col-3">
      <img src="logo_movie-removebg-preview.png" alt="" class="img-fluid"
           style="width: auto ">
    </div>
    <div class="col-9">
      <div class="dropdown float-end px-4">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
           id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="IMG_0378.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong style="color: #F26b38">TayPS</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser" style="">
          <li><a class="dropdown-item" href="#">Cài đặt</a></li>
          <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="card mb-4">
        <div class="card-header rounded-1" style="background-color: rgba(0, 0, 0, 0)">
          <div class="d-block justify-content-center">
            <ul class="nav nav-pills flex-column flex-shrink-0 mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link link-dark" aria-current="page">
                  <img src="ban-ve.jpg" height="20" width="20"/>
                  Bán vé
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="quan-ly-ban-ve.png" height="20" width="20"/>
                  Quản lý đặt vé
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark active">
                  <img src="quan-ly-nhan-vien.png" height="20" width="20"/>
                  Quản lý nhân viên
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="quan-ly-thanh-vien.jpg" height="20" width="20"/>
                  Quản lý thành viên
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="quan-ly-phim.png" height="20" width="20"/>
                  Quản lý phim
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="quan-ly-khuyen-mai.png" height="20" width="20"/>
                  Quản lý khuyến mãi
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="quan-ly-rap-chieu.png" height="20" width="20"/>
                  Quản lý phòng chiếu
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="thong-ke.png" height="20" width="20"/>
                  Thống kê
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--       Main        -->
    <div class="col-lg-9">
      <div class="col">
        <div class="card">
          <!--          add-->

          <div class="container-add">



            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3 txt">
                        <span class="tit">*</span><span>Hình ảnh </span>
                      </div>

                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="" style="width: 100px">
                              <img class="w-100"
                                   [src]="oldAvatarLink"
                                   alt="avt" style="border-radius: 5px; border:4px solid darkred">
                            </div>
                          </div>
                          <div class="col-md-9 inp">
                            <input  class="form-control" type="file" id="formFile" (change)="getAvatar($event)">
                            <span class="validate" *ngIf="employeeFormCreate.controls.image.touched && employeeFormCreate.controls.image.errors?.required">Hình ảnh không được để trống, vui lòng chọn ảnh</span>
                            <span class="validate" *ngIf="employeeFormCreate.controls.image.touched && employeeFormCreate.controls.image.errors?.required">Hình ảnh không được để trống, vui lòng chọn ảnh</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <form [formGroup]="employeeFormCreate" (ngSubmit)="submit()">

                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span for="validationDefaultUsername">Tài khoản </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="username" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required class="form-control" type="text" placeholder="Enter Account">
                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.required">Tên tài khoản không được bỏ trống</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.minlength">Tài khoản phải có ít nhất 6 ký tự</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.maxlength">Tài khoản quá dài, tài khoản chỉ từ 6 đến 45 ký tự.</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.username.touched && employeeFormCreate.controls.username.errors?.pattern">Tài khoản không đúng định dạng ! Vui lòng nhập lại.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Mật khẩu </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="password" class="form-control" type="password" placeholder="Enter Password">
                              <span class="validate" *ngIf="employeeFormCreate.controls.password.touched && employeeFormCreate.controls.password.errors?.required">Mật khẩu không được để trống !</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.password.touched && employeeFormCreate.controls.password.errors?.pattern">Mật khẩu phải có ít nhất 8 ký tự ,ít nhật 1 ký tự hoa, ký tự thường ,một số và ký tự đặc biệt!</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Nhập lại Mật khẩu </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Entern confirm Password">
                              <span class="validate" *ngIf="employeeFormCreate.controls.confirmPassword.touched && employeeFormCreate.controls.confirmPassword.errors?.required">Nhập lại mật khẩu không được để trống !</span>
                              <span class="validate" *ngIf="employeeFormCreate.hasError('not') && employeeFormCreate.controls.confirmPassword.touched">Mật khẩu không trùng khớp</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Họ tên </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="fullName" class="form-control" type="text" placeholder="Enter name">
                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.required">Tên không được để trống, vui lòng  nhập tên.</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.minlength">Tên phải có ít nhất 7 ký tự, vui lòng nhập lại.</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.maxlength">Tên không được quá 45 ký tự, vui lòng nhập lại.</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.fullName.touched && employeeFormCreate.controls.fullName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Vị trí </span>
                            </div>
                            <div class="col-md-9 inp">
                              <select class="form-select" name="" id="" formControlName="position">
                                <option selected *ngFor="let item of position" [ngValue]="item">{{item.name}}</option>
                                <span class="validate" *ngIf="employeeFormCreate.controls.position.touched && employeeFormCreate.controls.position.errors?.required">Vị trí không được để trống, vui lòng chọn vị trí</span>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Ngày sinh </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="birthday" class="form-control" type="date">
                              <span class="validate" *ngIf="employeeFormCreate.controls.birthday.touched && employeeFormCreate.controls.birthday.errors?.pattern">Nhân viên phải từ 16 tuổi !</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Giới tính </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="gender"  class="form-check-input" type="radio" value="true">Nam
                              <input formControlName="gender" class="form-check-input" type="radio" value="false">Nữ
                              <span style="color: red; font-size: 15px"
                                    *ngIf="employeeFormCreate.get('gender').hasError('required') && (employeeFormCreate.get('gender').dirty || employeeFormCreate.get('gender').touched)">
            Giới tính không được để trống
        </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Email </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="email" class="form-control" type="text" placeholder="Enter Email">
                              <span class="validate" *ngIf="(employeeFormCreate.controls.email.dirty || employeeFormCreate.controls.email.touched) && employeeFormCreate.controls.email.errors?.required">Email không được để trống, vui lòng nhập email !</span>
                              <span class="validate" *ngIf="(employeeFormCreate.controls.email.dirty || employeeFormCreate.controls.email.touched) &&  employeeFormCreate.controls.email.errors?.email">Email không đúng định dạng, vui lòng nhập lại email !</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>CMND </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="cardId" class="form-control" type="text" placeholder="Enter CMND">
                              <span class="validate" *ngIf="employeeFormCreate.controls.cardId.touched && employeeFormCreate.controls.cardId.errors?.required">Chứng minh nhân dân không được để trống, vui lòng chọn vị trí</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.cardId.touched && employeeFormCreate.controls.cardId.errors?.pattern">Chứng minh nhân dân phải có 12 số , vui lòng nhập lại.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Số điện thoại </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="phoneNumber" class="form-control" type="text" placeholder="Enter phone">
                              <span class="validate" *ngIf="employeeFormCreate.controls.phoneNumber.touched && employeeFormCreate.controls.phoneNumber.errors?.required">Số điện thoại không được để trống, vui lòng nhập số điện thoại.</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.phoneNumber.touched && employeeFormCreate.controls.phoneNumber.errors?.pattern">Số điện thoại không đúng định dạng <span style="color: blue">0xxxxxxxxx</span>, vui lòng nhập số điện thoại.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Địa chỉ </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="address" class="form-control" type="text" placeholder="Enter address">
                              <span class="validate" *ngIf="employeeFormCreate.controls.address.touched && employeeFormCreate.controls.address.errors?.required">Địa chỉ không được để trống, vui lòng nhập địa chỉ.</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.address.touched && employeeFormCreate.controls.address.errors?.minlength">Địa chỉ phải dài hơn 3 ký tự, vui lòng nhập lại địa chỉ.</span>
                              <span class="validate" *ngIf="employeeFormCreate.controls.address.touched && employeeFormCreate.controls.address.errors?.maxlength">Địa chỉ không được quá 45 ký tự, vui lòng nhập lại địa chỉ.</span>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
<!--                              [disabled]="employeeFormCreate.invalid"-->
                              <button  style="width: 100px" type="submit" class="btn addedit" data-bs-dismiss="modal">Thêm</button>
                              <button style="width: 100px; margin-left: 10px" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModalThoat" >Quay lại</button>
                            </div>
                            <div class="col-md-4"></div>

                          </div>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>

              </div>
              <div class="col-md-1">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>



<!--<div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-1"></div>-->
<!--    <div class="col-md-10">-->
<!--      <form [formGroup]="employeeFormCreate" (ngSubmit)="submit()">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Hình ảnh </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input class="form-control" type="file" id="formFile" formControlName="image">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span for="validationDefaultUsername">Tài khoản </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="account" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required class="form-control" type="text" placeholder="Enter Account">-->
<!--                <span class="validate">Tài khoản đã tồn tại !</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Mật khẩu </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="password" class="form-control" type="password" placeholder="Enter Password">-->
<!--                <span class="validate">Mật khẩu phải chứa số và ký tự !</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Nhập lại Mật khẩu </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Entern confirm Password">-->
<!--                <span class="validate">Mật khẩu không khớp !</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Họ tên </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="fullName" class="form-control" type="text" placeholder="Enter name">-->
<!--                <span class="validate">Tên phải dài hơn 10 ký tự !</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Ngày sinh </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="birthday" class="form-control" type="date">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Giới tính </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="gender"  class="form-check-input" type="radio" value="nam">Nam-->
<!--                <input formControlName="gender" class="form-check-input" type="radio" value="nữ">Nữ-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Email </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="email" class="form-control" type="text" placeholder="Enter Email">-->
<!--                <span class="validate">Email không hợp lệ !</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>CMND </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="cardId" class="form-control" type="text" placeholder="Enter CMND">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Số điện thoại </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="phoneNumber" class="form-control" type="text" placeholder="Enter phone">-->
<!--                <span class="validate">Số điện thoại không đúng định dạng !</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Địa chỉ </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <input formControlName="address" class="form-control" type="text" placeholder="Enter address">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="row">-->
<!--              <div class="col-md-3 txt">-->
<!--                <span class="tit">*</span><span>Vị trí </span>-->
<!--              </div>-->
<!--              <div class="col-md-9 inp">-->
<!--                <select class="form-select" name="" id="" formControlName="position">-->
<!--                  <option selected *ngFor="let item of position" [ngValue]="item">{{item.name}}</option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="col-md-1">-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
