<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Danh sách nhân viên</title>
  <script src="admin-employee-edit.component.ts"></script>
</head>
<body class="body">

<div class="container py-2">

<app-header-admin></app-header-admin>

  <div class="row">
    <div class="col-lg-3">

      <app-slidebar></app-slidebar>
    </div>

    <!--       Main        -->
    <div class="col-lg-9">
      <div class="col">
        <div class="card">
          <!--          add-->

          <div class="container-add">
            <div class="bg-light card card-header p-3 mb-4 text-uppercase display fw-bold">
              Sửa thông tin nhân viên
            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3 txt">
                        <span class="tit">*</span><span>Hình ảnh </span>
                      </div>

                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="" style="width: 100px">
                              <img class="w-100"
                                   [src]="oldAvatarLink"
                                   alt="avt" style="border-radius: 5px; border:4px solid darkred;margin-bottom: 12px">
                            </div>
                          </div>
                          <div class="col-md-9 inp">
                            <input  class="form-control" type="file" id="formFile" (change)="getAvatar($event)">
<!--                            <span class="validate" *ngIf="formGroup.controls.image.touched && employeeFormCreate.controls.image.errors?.required">Hình ảnh không được để trống, vui lòng chọn ảnh</span>-->
<!--                            <span class="validate" *ngIf="formGroup.controls.image.touched && employeeFormCreate.controls.image.errors?.required">Hình ảnh không được để trống, vui lòng chọn ảnh</span>-->
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <form [formGroup]="formGroup" (ngSubmit)="submit()">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span for="validationDefaultUsername">Tài khoản </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input value="Tên tài khoản không được chỉnh sửa" readonly style="background-color: #bbb9b9" id="username" formControlName="username" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required class="form-control" type="text" placeholder="phansitay">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Mật khẩu </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="password" class="form-control" type="password" placeholder="Enter Password">
                              <span class="validate" *ngIf="formGroup.controls.password.touched && formGroup.controls.password.errors?.required">Mật khẩu không được để trống !</span>
                              <span class="validate" *ngIf="formGroup.controls.password.touched && formGroup.controls.password.errors?.pattern">Mật khẩu phải có ít nhất 8 ký tự ,ít nhật 1 ký tự hoa, ký tự thường , và ký tự đặc biệt!</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Nhập lại Mật khẩu </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Entern confirm Password">
                              <span class="validate" *ngIf="formGroup.controls.confirmPassword.touched && formGroup.controls.confirmPassword.errors?.required">Nhập lại mật khẩu không được để trống !</span>
                              <span class="validate" *ngIf="formGroup.hasError('not') && formGroup.controls.confirmPassword.touched">Mật khẩu không trùng khớp</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Họ tên </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="fullName" class="form-control" type="text" placeholder="Enter name">
                              <span class="validate" *ngIf="formGroup.controls.fullName.touched && formGroup.controls.fullName.errors?.required">Tên không được để trống, vui lòng  nhập tên.</span>
                              <span class="validate" *ngIf="formGroup.controls.fullName.touched && formGroup.controls.fullName.errors?.minlength">Tên phải có ít nhất 7 ký tự, vui lòng nhập lại.</span>
                              <span class="validate" *ngIf="formGroup.controls.fullName.touched && formGroup.controls.fullName.errors?.maxlength">Tên không được quá 45 ký tự, vui lòng nhập lại.</span>
                              <span class="validate" *ngIf="formGroup.controls.fullName.touched && formGroup.controls.fullName.errors?.pattern">Tên không đúng định dạng, vui lòng nhập lại.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Vị trí </span>
                            </div>
                            <div class="col-md-9 inp">
                              <select class="form-select" name="" id="" formControlName="position">
                                <option selected *ngFor="let item of position" [ngValue]="item">{{item.name}}</option>
                                <span class="validate" *ngIf="formGroup.controls.position.touched && formGroup.controls.position.errors?.required">Vị trí không được để trống, vui lòng chọn vị trí</span>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Ngày sinh </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="birthday" class="form-control" type="date" value="{{ myDate | date: 'yyyy-MM-dd' }}">
                              <span class="validate" *ngIf="formGroup.controls.birthday.touched && formGroup.controls.birthday.errors?.pattern">Nhân viên phải từ 16 tuổi !</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Giới tính </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input [value]="true" formControlName="gender"  class="form-check-input" type="radio" value="true" style="margin-top: 14.5px"><span style="margin-top: 11.3px; position: absolute; margin-left: 10px">Nam</span>
                              <input [value]="false" formControlName="gender" class="form-check-input" type="radio" value="false" style="margin-top: 14.5px; margin-left: 70px"><span style="margin-top: 11.3px; position: absolute; margin-left: 10px">Nữ</span>
                              <span style="color: red; font-size: 13px; margin-left: -98px;margin-top: 30px;position: absolute;"
                                    *ngIf="formGroup.get('gender').hasError('required') && (formGroup.get('gender').touched || formGroup.get('gender').touched)">
                                  Giới tính không được để trống
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Email </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="email" class="form-control" type="text" placeholder="Enter Email">
                              <!--                          <span class="validate">Email không hợp lệ !</span>-->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>CMND </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input style="background-color: #bbb9b9" value="Tên tài khoản không được chỉnh sửa" readonly formControlName="cardId" class="form-control" type="text" placeholder="Enter CMND">
                              <span class="validate" *ngIf="formGroup.controls.cardId.touched && formGroup.controls.cardId.errors?.required">Chứng minh nhân dân không được để trống, vui lòng nhập lại</span>
                              <span class="validate" *ngIf="formGroup.controls.cardId.touched && formGroup.controls.cardId.errors?.pattern">Chứng minh nhân dân phải có 9 số , vui lòng nhập lại.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Số điện thoại </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="phoneNumber" class="form-control" type="text" placeholder="Enter phone">
                              <span class="validate" *ngIf="formGroup.controls.phoneNumber.touched && formGroup.controls.phoneNumber.errors?.required">Số điện thoại không được để trống, vui lòng nhập số điện thoại.</span>
                              <span class="validate" *ngIf="formGroup.controls.phoneNumber.touched && formGroup.controls.phoneNumber.errors?.pattern">Số điện thoại không đúng định dạng <span style="color: blue">0xxxxxxxxx</span>, vui lòng nhập số điện thoại.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-3 txt">
                              <span class="tit">*</span><span>Địa chỉ </span>
                            </div>
                            <div class="col-md-9 inp">
                              <input formControlName="address" class="form-control" type="text" placeholder="Enter address">
                              <span class="validate" *ngIf="formGroup.controls.address.touched && formGroup.controls.address.errors?.required">Địa chỉ không được để trống, vui lòng nhập địa chỉ.</span>
                              <span class="validate" *ngIf="formGroup.controls.address.touched && formGroup.controls.address.errors?.minlength">Địa chỉ phải dài hơn 3 ký tự, vui lòng nhập lại địa chỉ.</span>
                              <span class="validate" *ngIf="formGroup.controls.address.touched && formGroup.controls.address.errors?.maxlength">Địa chỉ không được quá 45 ký tự, vui lòng nhập lại địa chỉ.</span>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-6">
                              <button style="width: 100px;float: right" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModalThoat" >Quay lại</button>
                            </div>
                            <div class="col-md-6">
                              <button style="width: 100px; margin-left: 10px" type="button" class="btn addedit" data-bs-toggle="modal" data-bs-target="#myModalUpdate">Sửa</button>

                            </div>
                          </div>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>

              </div>
              <div class="col-md-1">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>

<!--modal quay lại-->
<div class="modal fade" id="myModalThoat">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xác nhận</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Bạn có thực sự muốn thoát khỏi trang này không ?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" routerLink="/employee_management/employee">Có</button>
      </div>

    </div>
  </div>
</div>



<!--modal thêm mới-->
<div class="modal fade" id="myModalUpdate">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Xác nhận</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Bạn thực sự muốn lưu sự thay đổi này không ?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="submit()">Có</button>
      </div>

    </div>
  </div>
</div>
