<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Danh sách nhân viên</title>
</head>
<body class="body">

<div class="container py-2">
  <div class="row align-items-center">
    <div class="col-3">
      <img src="../../../../assets/image/logo_movie-removebg-preview.png"alt="" class="img-fluid" style="width: auto ">
    </div>
    <div class="col-9">
      <div class="dropdown float-end px-4">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
           id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="IMG_0378.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong style="color: #F26b38">TayPS</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser" style="">
          <li><a class="dropdown-item" href="#">Cài đặt</a></li>
          <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="card mb-4">
        <div class="card-header rounded-1" style="background-color: rgba(0, 0, 0, 0)">
          <div class="d-block justify-content-center">
            <ul class="nav nav-pills flex-column flex-shrink-0 mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link link-dark" aria-current="page">
                  <img src="../../../../assets/image/ban-ve.jpg" height="20" width="20"/>
                  Bán vé
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">

                  <img src="../../../../assets/image/quan-ly-ban-ve.png" height="20" width="20"/>
                  Quản lý đặt vé
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark active">

                  <img src="../../../../assets/image/quan-ly-nhan-vien.png" height="20" width="20"/>
                  Quản lý nhân viên
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">

                  <img src="../../../../assets/image/quan-ly-thanh-vien.png" height="20" width="20"/>
                  Quản lý thành viên
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="../../../../assets/image/quan-ly-phim.png" height="20" width="20"/>
                  Quản lý phim
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="../../../../assets/image/quan-ly-khuyen-mai.png" height="20" width="20"/>
                  Quản lý khuyến mãi
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="../../../../assets/image/quan-ly-rap-chieu.png" height="20" width="20"/>
                  Quản lý phòng chiếu
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <img src="../../../../assets/image/thong-ke.png" height="20" width="20"/>
                  Thống kê
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--       Main        -->

    <div class="row">
      <div class="card-body">
        <div class="table-responsive table-bordered rounded shadow">

          <table class="table table-striped table-hover text-l">
            <thead style="background-color: #F26B38; color: #fff;">
            <tr>
              <!--                    <th scope="col">Mã Nhân viên</th>-->
              <th scope="col">Tên Nhân viên</th>
              <th scope="col" class="text-center">Sửa</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of employees">
<!--              <td>{{employee.id}}</td>-->
              <td>{{employee.fullName}}</td>
              <td class="px-4">
                <button type="button" class="btn">
                  <!--                        <i class="bi bi-pencil-square bg-icon">-->
                  <a href="employee-management/update/{{employee.id}}"> update</a>
                  <!--                        </i>-->
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>


</body>
</html>
<!--<router-outlet></router-outlet>-->

