<app-header></app-header>

<div class="row m-0">
  <div class="col-2"></div>
  <div class="col-8 shadow shadow-lg p-4 rounded-3 my-3" *ngIf="promotion">
    <div class="row">
      <h4 class="text-uppercase name">{{promotion.name}}
      </h4>
      <div class="col-lg-4 text-center mb-3">
        <div class="movie_image">
          <img src="{{promotion.image}}" height="495" width="350" class="img-responsive" alt=""
               style="width: 100%">
        </div>
        <div class="btn-active py-3 d-flex align-items-center">
<!--          <button class="btn__common d-flex align-items-center me-2 text-uppercase" routerLink="/booking/select-movie-and-showtime">-->
<!--            đặt vé-->
<!--          </button>-->
<!--          <button class="btn__trailer d-flex align-items-center text-uppercase" routerLink="/promotion">khuyến mãi</button>-->
        </div>
      </div>
      <div class="col-lg-8 table-responsive">
        <div class="detail__ticket px-3">
          <p class="movie_option"><strong> Nội dung chương trình: </strong>{{promotion.content}}</p>
          <p class="movie_option"><strong>Thời gian áp dụng: </strong><span>{{promotion.time}}</span></p>
          <p class="movie_option"><strong>Địa điểm áp dụng: </strong> {{promotion.location}}</p>
          <p class="movie_option"><strong>Điều kiện áp dụng: </strong>
            <span [innerHTML]="promotion.conditionPromotion"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>

<app-footer></app-footer>
