.nav-pills .nav-link.active, .bg-sub{
  color: #fff;
  background-color: #F26b38;
}

.bg-close{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.page-link , .bg-icon{
  color: #F26b38;
}

.modal-title{
  color: #F26b38;
}

.modal-header{
  text-align: center;
  display: inline;
}

.mg-s-5{
  margin-top: 5px;
}

.font-size{
  font-size: 14px;
}

.text-center{
  text-align: center;
}

.mg-lx-2{
  margin-left: 0.5rem;
}

.pd-lx-0{
  padding-left: 0px;
}

.page-link:hover {
  cursor: pointer;
  opacity: 0.9;
}

.current {
  color: #fff;
  background-color: #F26b38;
}

.image-delete{
  width: 100%;
}

.input-group--height{
  height: 35px;
}

@media only screen and (max-width: 531px) {
  .input-group-page{
    width: 160px;
  }
  .search-icon{
    position: relative;
  }
}

@media only screen and (max-width: 504px) {
  .search-select{
    width: 39%;
  }

  .search-icon{
    width: 22.1%;
  }
}



.mg-rg-0{
  margin: 0px;
}
