<!-- Header -->
<header>
  <nav class="col-sm-12 navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="A04Cinema" width="365" height="85">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-uppercase" *ngIf="!roles.includes('ROLE_EMPLOYEE')">
            <a class="nav-link" (click)="toBooking()" style="cursor: pointer;">Mua vé</a>
          </li>
          <li class="nav-item dropdown text-uppercase">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Phim
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="toOnShowingList()" style="cursor: pointer;">Phim đang chiếu</a></li>
              <li><a class="dropdown-item" (click)="toUpcomingList()" style="cursor: pointer;">Phim sắp chiếu</a></li>
            </ul>
          </li>
          <li class="nav-item text-uppercase">
            <a class="nav-link" (click)="toPromotion()" style="cursor: pointer;">Khuyến mãi</a>
          </li>
        </ul>

        <!--        <ul class="navbar-nav ml-auto" *ngIf="loggedIn">-->

        <div class="dropdown user-profile d-flex align-items-center">
          <!--<<<<<<< HEAD-->
          <!--          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">-->
          <!--          </a>-->
          <!--=======-->
          <!--          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">-->
          <!--          </a>-->
          <!--          <span class="ms-2" *ngIf="customer">{{customer.fullName}}</span>-->
          <!--&gt;>>>>>> book-ticket-->
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
             id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/image/account.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong style="color: #F26b38"
                    *ngIf="roles.includes('ROLE_CUSTOMER')">{{customer.fullName}}</strong>
            <strong style="color: #F26b38" *ngIf="roles.includes('ROLE_ADMIN')">Admin</strong>
            <strong style="color: #F26b38" *ngIf="roles.includes('ROLE_EMPLOYEE')">Admin</strong>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1"
              *ngIf="!roles.includes('ROLE_CUSTOMER') || !roles.includes('ROLE_ADMIN') || !roles.includes('ROLE_EMPLOYEE')">
            <!--            <li><a class="dropdown-item" href="#">Cài đặt</a></li>-->
            <li><a href="/customer/ticket" class="dropdown-item">Quản lý tài khoản</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li *ngIf="!roles.includes('ROLE_CUSTOMER') && !roles.includes('ROLE_ADMIN') && !roles.includes('ROLE_EMPLOYEE')"><a class="dropdown-item" (click)="toLogin()">Đăng nhập</a></li>
            <li><a class="dropdown-item" (click)="logout()">Đăng xuất</a></li>
          </ul>
        </div>
        <!--        </ul>-->
      </div>
    </div>
  </nav>
</header>

<!--=======-->
<!--<ul class="navbar-nav ml-auto" *ngIf="loggedIn">-->

<!--  <li class="nav-item disabled">-->
<!--    <a class="nav-link" >-->
<!--      {{userLogged.name}}-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->
<!--<img *ngIf="loggedIn" src="{{userLogged.photoUrl}}" class="rounded-circle mr-3" style="width: 50px">-->
<!--<button *ngIf="loggedIn" class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="signOut()">-->
<!--  <i class="fas fa-sign-out-alt fa-lg"></i> Đăng xuất</button>-->


<!--<ul class="navbar-nav ml-auto" *ngIf="hasLoggedIn">-->

<!--  <li class="nav-item disabled">-->
<!--    <a class="nav-link" >-->
<!--      {{username}}-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->
<!--<button *ngIf="hasLoggedIn" class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logOut()">-->
<!--  <i class="fas fa-sign-out-alt fa-lg"></i> Đăng xuất</button>-->
<!--&gt;>>>>>> account-athorization-authentication-->
