<app-header></app-header>
<div class="row m-0" *ngIf="movie">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-8  shadow shadow-lg p-4 rounded-3 my-3">
    <div class="row">
      <div class="col-lg-3 text-center mb-3">
        <div CLASS="movie_image">
          <span class="movie_rating" *ngIf="movie.avgRating">{{movie.avgRating | number: '0.1' }}</span>
          <img
            [src]="movie.image" alt="loading..." class="w-100" (error)="imageError($event)"
            style="border: 2px solid #F26B38;"
          >
        </div>
      </div>
      <div class="col-lg-9 table-responsive">
        <div class="col">
          <div class="title">
            <h2 class="d-block mb-2">{{movie.name}}</h2>
            <hr>
          </div>
          <div>
            <form [formGroup]="rfRating" (ngSubmit)="onSubmit()">
              <button class="rating_desc btn__common d-flex align-items-center"
                      data-bs-toggle="modal"
                      data-bs-target="#myModalForRating">
                ĐÁNH GIÁ
              </button>

              <fieldset>
                <section>
                  <div class="rate">
                    <input type="radio" id="star5" name="rating" value="5" formControlName="rating"/>
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" formControlName="rating"/>
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" formControlName="rating"/>
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" formControlName="rating"/>
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" formControlName="rating"/>
                    <label for="star1" title="text">1 star</label>
                  </div>
                </section>
              </fieldset>
            </form>
          </div>
          <div class="detail__ticket px-3">
            <table class="table">
              <tbody>
              <tr>
                <th scope="row">Khởi chiếu:</th>
                <td>Từ {{movie.startDay | date:'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <th scope="row">Loại phim:</th>
                <td>
                  {{movie.movieTypes}}
                </td>
              </tr>
              <tr>
                <th scope="row">Diễn Viên:</th>
                <td>
                  {{movie.actors}}
                </td>
              </tr>
              <tr>
                <th scope="row">Đạo Diễn:</th>
                <td>
                  {{movie.directors}}
                </td>
              </tr>
              <tr>
                <th scope="row">Thời lượng:</th>
                <td>{{movie.timeAmount}} phút</td>
              </tr>
              <tr>
                <th scope="row">Ngôn ngữ:</th>
                <td>{{movie.language}}</td>
              </tr>
              <tr>
                <th scope="row">Hãng:</th>
                <td>
                  {{movie.movieStudios}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-active py-3 d-flex">
            <button class="btn__common d-flex align-items-center me-2" (click)="booking()" *ngIf="showBookingButton">
              ĐẶT VÉ
            </button>

            <button type="button" class="btn__trailer d-flex align-items-center"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal"
                    (click)="sendLinkTrailer(movie.trailer)">
              TRAILER
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
    <div>
      <h3 class="flex-fill">NỘI DUNG PHIM</h3>
    </div>
    <div id="content">
      <p class="m_4">{{movie.description}}
      </p>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="bs-example">
  <!-- Modal HTML -->
  <div id="myModal" class="modal fade" (click)="closeModal()">
    <div class="modal-dialog modal-dialog-centered" style="left: -10%" *ngIf="isOpenVideo">
      <div class="modal-content">
        <div class="modal-body" style="padding: 0">
          <div class="embed-responsive embed-responsive-16by9" *ngIf="trustedUrl">
            <iframe id="trailerVideo" width="180%" height="500"
                    [src]="trustedUrl"
                    title="YouTube video player" frameborder="10"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-dialog " role="document" *ngIf="!isOpenVideo">
      <div class="modal-content" style="border-radius: 20px">
        <div class="modal-body" style="background:#F26B38;  color: white; border-radius: 10px">
          <span>"Không tải được video"</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModalForRating" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content" style="border-radius: 20px">

      <div class="modal-body" style="background:#F26B38;  color: white; border-radius: 10px">
        <span>{{messageForRating}}</span>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
