<div class="row" style="margin-right: 10px; margin-left: 20px">
    <div class="card mb-4" >
      <div class="card-header rounded-1" style="background-color: rgba(0, 0, 0, 0)">
        <div class="d-block justify-content-center">
          <ul class="nav nav-pills flex-column flex-shrink-0 mb-auto">
            <li class="nav-item">
              <a href="#" class="nav-link link-dark" aria-current="page">
                <img src="../../../../assets/image/ban-ve.jpg" height="20" width="20"/>
                Bán vé
              </a>
            </li>
            <li>
              <a href="ticket_management/select_ticket_user" class="nav-link link-dark">
                <img src="../../../../assets/image/quan-ly-ban-ve.png" height="20" width="20"/>
                Quản lý đặt vé
              </a>
            </li>
            <li>
              <a href="employee_management/employee" class="nav-link link-dark active">
                <img src="../../../../assets/image/quan-ly-nhan-vien.png" height="20" width="20"/>
                Quản lý nhân viên
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <img src="../../../../assets/image/quan-ly-thanh-vien.jpg" height="20" width="20"/>
                Quản lý thành viên
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <img src="../../../../assets/image/quan-ly-phim.png" height="20" width="20"/>
                Quản lý phim
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <img src="../../../../assets/image/quan-ly-khuyen-mai.png" height="20" width="20"/>
                Quản lý khuyến mãi
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <img src="../../../../assets/image/quan-ly-rap-chieu.png" height="20" width="20"/>
                Quản lý phòng chiếu
              </a>
            </li>
            <li>
              <a href="#" class="nav-link link-dark">
                <img src="../../../../assets/image/thong-ke.png" height="20" width="20"/>
                Thống kê
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
